{% extends 'home.html' %}
{% block header %}
<style>
    .aboutdiv {
    background-color:#D2691E;
    color:white;
    padding:2rem;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    }
</style>
<div>
    <div class="aboutdiv">About Us</div>
    <div class="desc" style="margin:30px">
        <p>&emsp;<strong>Krishna Cards</strong> creates handcrafted traditional, designer, and exclusive Indian wedding invitations. We are the leading manufacturers of Indian wedding invitation cards and wedding invitation boxes, including Hindu wedding cards, Muslim wedding cards, Sikh wedding cards, Christian wedding cards, and interfaith wedding cards manufactured in India with the highest standards of quality.</p>
        <p>&emsp;Quality wedding invitation cards are about the combination of tradition, creativity, and artistic skill. Don’t settle for boring and ordinary wedding invitations for your celebration, instead focus on the highest quality products in the latest and exclusive designs from us. Our wedding invitation cards are meticulously handcrafted using the finest papers and materials to provide the best wedding invitations in the world. Your wedding celebration is unique and your wedding cards should reflect the tone and theme of your event. Our talented and creative designers have created a stunning collection of Indian wedding invitation cards in a variety of traditional and contemporary designs, textures, colors, patterns, and styles.</p>
        <p>&emsp;Our goal is to design exceptional quality wedding invitation cards for people of all faiths. We have Hindu, Sikh, Muslim, and Interfaith wedding invitations to reflect the diverse and colorful culture, traditions, and religious faiths found in India. Your wedding is one of the most prominent events in your life and we really understand this requirement. Your wedding invitation will be the perfect souvenir for you and your guests when you shop with Kalash Cards.</p>
        <p>&emsp;We recommend that you browse our online catalog of Hindu wedding invitation cards, Muslim wedding invitations, Sikh wedding invitations, & Christian wedding invites. When you have narrowed your selections to a few cards, send a WhatsApp message in chat and we will guide you to have your perfect wedding invitation.</p>
        <p>&emsp;Apart from religious wedding invitations, we have unique wedding invites by their types including translucent cover wedding cards, laser-cut wedding invites, fabric wedding cards, and digitally printed wedding invitations.</p>
        <p>&emsp;We also offer unique wedding boxes for the purpose of distributing gifts at wedding ceremonies. The wedding boxes can be used as invitations to invite special guests to various wedding programs.</p>
        <p>&emsp;We introduced very unique offerings to host and create your wedding website over our website hassle-free. You can just purchase the affordable wedding website package and give us the required details, photos, and videos, we will quickly create your wedding website with a unique link for you. You can just share the links with your guests for displaying your wedding highlights like a wedding invitation, wedding photos, wedding quotes, and wedding videos.</p>
    </div>
</div>

{% endblock %}
