{% extends 'home.html' %}
{% block header %}
{% load static %}
<style>
<!--.flex-container {-->
<!--  display: flex;-->
<!--  flex-direction: row;-->
<!--  justify-content: space-around;-->
<!--  flex-wrap: wrap;-->
<!--  flex-grow: 4;-->
<!--  padding:50px;-->
<!--  font-size: 20px;-->
<!--}-->

<!--@media (max-width: 800px) {-->
<!--  .flex-container {-->
<!--    flex-direction: column;-->
<!--  }-->
<!--}-->

<!--p{-->
<!--    font-weight:bold;-->
<!--    text-align: center;-->
<!--}-->

<!--.content{-->
<!-- text-align: center;-->
<!--}-->
#map{
        position: relative;
        height: 350px;
        width:1200px;
        padding-bottom: 20.58823%;
        overflow: hidden;

   }
    #map iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 30px;
        width: 100% !important;
        height: 100% !important;
        margin-left: 0px;
        margin-right: 90px;
    }
</style>
 <div class="map-area section-padding-0-80">
        <div class="container">
            <div id="map" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.807353524185!2d73.85433570000001!3d18.5185322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06550b293e5%3A0x8cdd12319ad450e2!2sK%20K%20Creation!5e0!3m2!1sen!2sin!4v1691391631282!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
 </div>

{% endblock %}
